crypto-config/*
artifacts/*
artifacts/genesis.block
**node_modules
**package-lock.json
wallet/walletOrg1/*
wallet/walletOrg2/*
**.id
/connection-profiles/*

connection-profiles/connection-org1.json
connection-profiles/connection-org2.json
coneection-profiles/connection-org1.yaml
coneection-profiles/connection-org2.yaml